[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clustringr"]
	path = clustringr
	url = https://github.com/dan-reznik/clustringr
